<div class="w-full">
	<main class="w-full flex flex-col h-screen content-center justify-center">
		<div class="table-container w-full sm:w-1/2 lg:w-2/3 xl:w-3/4 bg-gray-80 rounded-xl m-auto">
			<mat-drawer-container class="w-full h-full container" [hasBackdrop]="true" autosize>
				<mat-drawer #editSidebar class="sidenav content-center justify-center" position="start" mode="over">
					<div class="p-2 content-center justify-center">
						<h4 class="font-semibold mb-4">Edit Announcement</h4>
						<div class="container mx-auto p-3">
							<div class="grid grid-cols-2 gap-4">
								<mat-form-field class="w-full">
									<mat-label>Priority</mat-label>
									<mat-select [ngModel]="selectedAnnouncement?.priority">
										@for (i of [1,2,3,4,5]; track i) {
										<mat-option [value]="i">{{i}}</mat-option>
										}
									</mat-select>
								</mat-form-field>

								<mat-form-field class="w-full">
									<mat-label>Type</mat-label>
									<mat-select [ngModel]="selectedAnnouncement?.type">
										@for (i of ["primary", "secondary", "warn", "info"]; track i) {
										<mat-option [value]="i">{{ i | titlecase }}</mat-option>
										}
									</mat-select>
								</mat-form-field>

								<mat-form-field class="w-full">
									<mat-label>Active</mat-label>
									<mat-select [ngModel]="selectedAnnouncement?.isActive">
										<mat-option [value]="true">Active</mat-option>
										<mat-option [value]="false">Passive</mat-option>
									</mat-select>
								</mat-form-field>

								<mat-form-field class="w-full">
									<mat-label>Publishing Date</mat-label>
									<input matInput [matDatepicker]="picker" [min]="today" [ngModel]="selectedAnnouncement?.publishingDate">
									<mat-hint>MM/DD/YYYY</mat-hint>
									<mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
									<mat-datepicker #picker></mat-datepicker>
								</mat-form-field>
							</div>

							<mat-tab-group class="mt-3">
								@for (lang of languages; track $index) {
								<mat-tab [label]="lang.name">
									<mat-form-field class="w-full tab-input">
										<mat-label>{{ lang.name }} Content</mat-label>
										<textarea matInput [ngModel]="getTranslationContent(lang.id)"
												  (ngModelChange)="updateTranslationContent(lang.id, $event)">
										  </textarea>
									</mat-form-field>
									<mat-form-field class="w-full tab-input">
										<mat-label>{{ lang.name }} Redirect URL</mat-label>
										<input matInput [ngModel]="getTranslationRedirectUrl(lang.id)"
											   (ngModelChange)="updateTranslationRedirectUrl(lang.id, $event)" />
									</mat-form-field>
								</mat-tab>
								}
							</mat-tab-group>
						</div>

						<div class="flex justify-end">
							<button mat-button type="submit" class="bg-blue-600 text-white" (click)="updateAnnouncement()">Save</button>
							<button mat-button type="button" (click)="editSidebar.toggle()" class="ml-2 bg-gray-300">Cancel</button>
						</div>
					</div>
				</mat-drawer>

				<mat-drawer #addSidebar class="sidenav content-center justify-center" position="end" mode="over">
					<div class="p-2 content-center justify-center">
						<h4 class="font-semibold mb-4">New Announcement</h4>

						<div class="container mx-auto p-3">
							<form [formGroup]="announcementForm">
								<div class="grid grid-cols-2 gap-4">
									<!-- Priority -->
									<mat-form-field class="w-full">
										<mat-label>Priority</mat-label>
										<mat-select formControlName="priority">
											<mat-option *ngFor="let i of [1, 2, 3, 4, 5]" [value]="i">{{i}}</mat-option>
										</mat-select>
									</mat-form-field>

									<!-- Type -->
									<mat-form-field class="w-full">
										<mat-label>Type</mat-label>
										<mat-select formControlName="type">
											<mat-option *ngFor="let i of ['primary', 'secondary', 'warn', 'info']" [value]="i">{{ i | titlecase }}</mat-option>
										</mat-select>
									</mat-form-field>

									<!-- Active -->
									<mat-form-field class="w-full">
										<mat-label>Active</mat-label>
										<mat-select formControlName="isActive">
											<mat-option [value]="true">Active</mat-option>
											<mat-option [value]="false">Passive</mat-option>
										</mat-select>
									</mat-form-field>

									<!-- Publishing Date -->
									<mat-form-field class="w-full">
										<mat-label>Publishing Date</mat-label>
										<input matInput formControlName="publishingDate" [matDatepicker]="picker1" [min]="today">
										<mat-hint>MM/DD/YYYY</mat-hint>
										<mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
										<mat-datepicker #picker1></mat-datepicker>
									</mat-form-field>
								</div>
							</form>


							<mat-tab-group class="mt-3">
								@for (lang of languages; track $index) {
								<mat-tab [label]="lang.name">
									<mat-form-field class="w-full tab-input">
										<mat-label>Content</mat-label>
										<textarea matInput [(ngModel)]="announcement.translations[$index].content" name="content_{{ $index }}" required></textarea>
									</mat-form-field>
									<mat-form-field class="w-full mt-3">
										<mat-label>Redirect URL</mat-label>
										<input matInput [(ngModel)]="announcement.translations[$index].redirectUrl" name="redirectUrl_{{ $index }}" placeholder="https://example.com">
									</mat-form-field>
								</mat-tab>
								}
							</mat-tab-group>
						</div>

						<div class="flex justify-end">
							<button mat-button type="submit" class="bg-blue-600 text-white" (click)="onSubmit()">Save</button>
							<button mat-button type="button" (click)="onCancel()" class="ml-2 bg-gray-300">Cancel</button>
						</div>
					</div>
				</mat-drawer>

				<div class="sidenav-content">
					<table class="w-full bg-white rounded-lg shadow-lg">
						<thead>
							<tr class="bg-gray-200 text-sm">
								<th class="py-3 px-4 text-left">ID</th>
								<th class="py-3 px-4 text-center">Priority</th>
								<th class="py-3 px-4 text-center">Type</th>
								<th class="py-3 px-4 text-left">Publishing Date</th>
								<th class="py-3 px-4 text-center">Active</th>
								<th class="py-3 px-4 text-center">Actions</th>
							</tr>
						</thead>
						<tbody>
							@for (announcement of announcements; track $index) {
							<tr class="border-b hover:bg-gray-50">
								<td class="px-6 py-4">{{ announcement.id }}</td>
								<td class="px-6 py-4">{{ announcement.priority }}</td>
								<td class="px-6 py-4">{{ announcement.type }}</td>
								<td class="px-6 py-4">{{ announcement.publishingDate | date }}</td>
								<td class="px-6 py-4">{{ announcement.isActive ? 'Yes' : 'No' }}</td>
								<td class="px-6 py-4">
									<mat-icon (click)="openEditSidebar(announcement)" class="text-blue-600 hover:text-blue-800" fontIcon="edit"></mat-icon>
									<mat-icon (click)="deleteAnnouncement(announcement)" class="ms-2 text-red-600 hover:text-red-800" fontIcon="delete"></mat-icon>
								</td>
							</tr>
							}
						</tbody>
					</table>
				</div>
			</mat-drawer-container>
		</div>
	</main>
</div>


<div class="fab-button">
	<button mat-fab (click)="openAddSidebar()">
		<mat-icon>add</mat-icon>
	</button>
</div>
