.sidenav-content {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.sidenav {
	padding: 20px;
}

mat-icon {
	cursor: pointer;
}

mat-drawer {
	min-height: 600px;
}

mat-drawer-container,
mat-drawer {
	background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1));
}
